<div class="container-fluid">
  <div class="header-section">
    <p class="logo-content">Contract <span>Portal</span></p>
    <p>Terms of Service | Privacy Policy</p>
  </div>
  <div class="container">
    <div class="container-main">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>ABOUT</ng-template>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="col-md-5">
                  <input matInput type="text" placeholder="First name" formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field class="col-md-5">
                  <input matInput type="text" placeholder="Last name" formControlName="lastName">
                </mat-form-field>
                <mat-form-field class="col-md-5">
                  <input matInput type="number" placeholder="Phone" formControlName="phone">
                </mat-form-field> 
                <mat-form-field class="col-md-5">              
                  <input matInput type="email" placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="col-md-10">            
                  <input matInput type="text" placeholder="Job Title" formControlName="jobtitle" required>
                </mat-form-field>      
              </div>
              <div class="col-md-4">
                  <div class="photo"></div>
                  <div class="upload-block">
                    <i class="material-icons">cloud_upload</i> <button mat-button class="upload-button">Upload Your Photo</button>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="col-md-12">            
                  <textarea matInput placeholder="Describe your experience" formControlName="info" required></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="col-md-3">            
                    <input matInput type="text" placeholder="Years of experience" formControlName="yoe">                
                </mat-form-field>
                <mat-form-field class="col-md-3">            
                    <input matInput type="text" placeholder="Website/Portfolio" formControlName="website">                
                </mat-form-field>
                <mat-form-field class="col-md-3">            
                    <input matInput type="text" placeholder="Where you currently live?" formControlName="location">                
                </mat-form-field>
              </div>
            </div>
            <div class="button-block">
              <button mat-button matStepperNext class="add-background-color">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="skillFormGroup" [optional]="isOptional">
          <div class="selected-skills">
              <mat-chip-list aria-label="skill-selection">
                  <mat-chip *ngFor="let item of skillsToBeAdded"><i class="material-icons" style="color:#3dbbf3">remove_circle</i> {{item.title}}</mat-chip>
              </mat-chip-list>
          </div>
          <h2 class="text-center skill-header">Add Skills</h2>
          <form [formGroup]="skillFormGroup">
            <ng-template matStepLabel>SKILLS</ng-template>
            <div class="row">
              <div class="col-md-4">
                  <mat-form-field>
                    <input matInput placeholder="Search" formControlName="skillCtrl" required>
                  </mat-form-field>
              </div>
              <div class="col-md-8">
                  <div class="selected-skills">
                      <mat-chip-list aria-label="skill-selection">
                          <mat-chip *ngFor="let item of skillsToBeAdded"><i class="material-icons">add_circle</i> {{item.title}}</mat-chip>
                      </mat-chip-list>
                  </div>
              </div>
            </div>
          </form>
          <h2 class="text-center skill-header">Professional certifications</h2>
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="skillFormGroup">
                <mat-form-field class="col-md-12">            
                  <textarea matInput placeholder="Describe your professional certifications" formControlName="pcertifications" required></textarea>
                </mat-form-field>
              </form>
            </div>
          </div>
          <div class="button-block">
            <button mat-button matStepperPrevious class="add-background-color">Prev</button>
            <button mat-button matStepperNext class="add-background-color">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <form [formGroup]="skillFormGroup">
            <ng-template matStepLabel>AVAILABILITY</ng-template>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <h4>Availability</h4>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Address" formControlName="skillCtrl" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Address" formControlName="skillCtrl" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <h4>Salary Expectations</h4>
                  </div>
                  <div class="col-md-2">
                      <mat-slider min="4" max="20" step="1" value="2"></mat-slider>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Start Date" formControlName="startDate">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="End Date" formControlName="endDate">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h4>Countries of interest</h4>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput placeholder="Where you would like to work?" formControlName="workLocation">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <button mat-button (click)="showList()" style="margin-top: 5%;">Visa or sponsorship required?</button>
                    <div class="visa-list" *ngIf="showVisaLis">
                      <div class="row">
                        <div class="col-md-4">Ireland</div>
                        <div class="col-md-8">
                          <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">UK</div>
                        <div class="col-md-8">
                          <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">India</div>
                        <div class="col-md-8">
                          <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Prefered Positions</h4>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                          <input matInput placeholder="Search" formControlName="skillCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-8">
                        <div class="selected-skills">
                            <mat-chip-list aria-label="skill-selection">
                                <mat-chip *ngFor="let item of skillsToBeAdded"><i class="material-icons" style="color:#3dbbf3">remove_circle</i> {{item.title}}</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </form>
          <div class="button-block">
            <button mat-button matStepperPrevious class="add-background-color">Prev</button>
            <button mat-button class="add-background-color" (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>